body {
    background: lightblue ;
}

#main {
  margin-top: 50px;
}

.navi-box {
  background-color: white;
  height: 50px;
  width: 100%;
  line-height: 50px;
  position: fixed;
  top: 0;
  z-index: 1;
}

.navi-box ul{
  list-style: none;
}

.navi-box ul li{
  font-size: large;
  display: inline;
}

.navi-box ul li a{
  margin-right: 5px;
}

#about {

}

.c-footer {
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  min-height: 150px;
}