.baselink {
    text-decoration: none;
    color: black;

}

.head {
    color: darkred;
}

a:hover {
    text-decoration: none;
}

.baselink:hover {
    color: royalblue;
    background-color: #f8f9fa;
    text-decoration: none;
}
