{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'stylesheet/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheet/bootstrap/bootstrap.min_v4.5.3.css' %}">
    <link rel="stylesheet" href={% static 'stylesheet/portfolio.css' %}>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{ title }}</title>
</head>
<body>

    <!-- navbar -->
        <div class="navi-box text-center">
            <ul>
                <li><a href="/blog">BLOG</a></li>
                <li><a href="/to/contact/">CONTACT</a></li>
                <li><a href="/resume/">RESUME</a></li>
            </ul>
        </div>
    <!-- end navbar -->

    <div class="container-fluid" id="main-container">
        <div class="row">
            <div class="col-12 intro text-center">
                <br>
                <h1 class="display-5">Hi, I'm <span style="color: blue">Atul Singh</span></h1>
                <h2 class="display-5">I'm a <span id="prof" style="color: red">Computer Science Student</span></h2>
            </div>
        </div>
    <!-- Hero Area -->
        <div class="row mx-3 my-2">
            <div class="col-12 col-lg-6">
                <div id="hero-box">
                    <div><img src="{% static 'media/quote.png' %}" class="img-responsive" height="18px" width="18px"></div>
                    <div >
                        <p class="px-4 pt-1 m-0 bio">
                        {{ profile.bio }}
                        </p>
                    </div>
                    <div class="text-right mt-0 mb-2"><img src="{% static 'media/inverted-quote.png' %}" class="img-responsive" height="18px" width="18px"></div>
                </div>
            </div>
            <div class="col-12 col-lg-6 text-center">
                <img src="{% static 'media/hero.png' %}" class="img-responsive my-3 pt-3">
            </div>
        </div>
    <!-- End Hero Area -->

    <!-- badges -->
    <div class="row my-1 mx-3">
        <div class="col text-center">
            {% for achievement in achievements %}
                <div class="d-inline-flex">
                    <div style="width: 200px; height: 200px;overflow: hidden">
                        <img src="{{ achievement.image.url }}" class="img-responsive m-1" height="90px" width="90px">
                        <p class="">{{ achievement.text }}</p>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
    <!-- end badge -->

    <!-- Education and Certification -->
        <section id="resume" class="resume">
            <div class="row mx-5">
              <div class="col-lg-6" data-aos="fade-up">
                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                  <h4>High School</h4>
                  <h5>Year : 2015</h5>
                  <h6><em>Fatima Senior Secondary School, Gonda </em></h6>
                  <p>{{ highschool }}</p>
                </div>
                <div class="resume-item">
                  <h4>Intermediate</h4>
                  <h5>Year : 2017</h5>
                  <h6><em>JB Academy, Ayodhya </em></h6>
                  <p>{{ intermediate }}</p>
                </div>
                <div class="resume-item">
                  <h4>Graduation</h4>
                  <h5>Year : 2018-Present</h5>
                  <h6><em>GLA University, Mathura </em></h6>
                  <p>{{ graduation }}</p>
                  <ul>
                      <li>Computer Science & Engineering</li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Certifications</h3>
                {% for certification in certifications %}
                    <div class="resume-item">
                  <h4>{{ certification.name }}</h4>
                  <h5>{{ certification.issue_date }}{% if certification.expiry_date is not None %} - {{ certification.expiry_date }}{% endif %}</h5>
                  <p><em style="font-size: 14px;font-weight: 600">{{ certification.issuedby }} </em></p>
                    {% if certification.text %}
                  <ul>
                    <li>{{ certification.text }}</li>
                  </ul>
                    {% endif %}
                  <p><a href="{{ certification.c_link }}" target="_blank">View Certificate</a> </p>
                </div>
                {% endfor %}
                        <a href="/to/certifications" class="btn btn-link btn-sm mb-2"><span class="fa fa-list-ul"></span> List All</a>
              </div>
            </div>
        </section>
    <!-- End Education And Certification -->

    <!-- project display area -->
    <div class="row my-1 mx-3">
        <div class = 'col-12 resume'><h3 class="resume-title">Projects</h3></div>
        {% for project in projects %}
            <div class = "col my-2">
                <a href="/to/project/{{ project.id }}" target="_blank" id="card_anchor">
                <div class="project-box" style='background-image: url("{{ project.icon.url }}");background-size: cover'>
                    <p class="lead project-title">{{ project.name }}</p>
                    <p class="project-status">{{ project.status }}</p>
                </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <!-- end project display area -->

    <!-- tech stack -->
    <div class="row my-1 mx-3">
        <div class="col resume" id="resume">
            <h3 class="resume-title">Technologies I know</h3>
            {% for tech in tech_stack %}
                <div class="d-inline-flex">
                    <div style="max-width: 200px; height: 100px;overflow: hidden" class="text-center">
                        <img src="{{ tech.image.url }}" class="img-responsive m-1" height="50px">
                        <p class="">{{ tech.name }}</p>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
    <!-- end stack -->
    </div>

    <footer id='about'>
        <div class="container-fluid mb-0 pb-1 px-5 pt-5" style="background-image: linear-gradient(45deg,azure, bisque);overflow: hidden">

                <!--footer -->
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <div class="row">
                            <div class="col-2 pl-1 mt-1">
                                <img src="{{ profile.picture.url }}" alt="AtulSingh" class="rounded-circle" height="65px" width="65px">
                            </div>
                            <div class="col-10">
                                <p>To contact me feel free to drop a <a href="/to/contact" id="collaboration_btn" class="btn btn-link m-0 p-0 pb-1" style="color: blue">message</a>.<br> <span style="color: #1f5297"> #<b>OpenToCollaborate</b></span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-8">
                        <h4>Connect With Me!</h4>
                        <ul class="nav">
                            {% for i in contact_buttons %}
                                <li class="nav-item"> <!--ToDo : Change to Font Awesome Icons-->
                                    <a class="nav-link active p-1" href="{{ i.url }}" target="_blank"><i class="fa fa-{{ i.icon }} fa-2x"></i> </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            <hr>
            <p align="center">Made with <span class="fa fa-heart" style="color: red"></span> by Atul Singh | &copy; All rights reserved.<p>
        </div>
    </footer>
<!-- end footer tag -->
    <script src="{% static 'js/portfolio.js' %}"></script>
</body>
</html>