{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'stylesheet/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href={% static 'stylesheet/abstract_base.css' %}>
    {% block head_import %}
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{ page_context.title }}</title>
</head>
<body>
    <div class="navigation">
        {% for item in navbar_items %}
            <a class="navigation-item" href="{{ item.link }}">{{ item.text }}</a>
        {% endfor %}
    </div>
    <div class="container-fluid">

        {% block container %}
        {% endblock %}
    </div>

    <footer>

    </footer>
<!-- end footer tag -->
</body>
</html>
