{% extends 'abstract_base.html' %}
{% load static %}

{% block container %}
    <div class="text-center">
        <h1 class="h2 p-2">{{ blog.title }}</h1>
    </div>
    <div class="card m-2">
      <div class="card-body p-1 d-none d-md-block">
         <span class="text-muted">Subject : </span><h6 class="d-inline ">{{ blog.type }} </h6> <span style="float: right" class="">{{blog.writer}} on {{blog.datetime}}</span>
      </div>
      <div class="card-body p-1 d-md-none">
         <span class="text-muted">Subject : </span><h6 class="d-inline ">{{ blog.type }} </h6><br> <span class="">{{blog.writer}} on {{blog.datetime}}</span>
      </div>
    </div>
    <div class="text-center">
        <img src="/static/media/{{ blog.image }}" class="img-fluid m-1 " alt="...">
    </div>
    <div class="alert alert-secondary m-1 " role="alert">
        {{ blog.subtitle }}
    </div>
    <div class="text-monspace m-1 p-1">
    {%  if blog.safe %}
        {% autoescape off %}
        <p>{{ blog.text }}</p>
        {% endautoescape %}
     {% else %}
        <p>{{ blog.text }}</p>
    {% endif %}
    </div>
    <div class="nav nav-link">
    <a href="mailto:feedback@atul.codes?subject=Feedback%20key-{{ blog.linkkey }}&body=DoNotEditOrChangeSubject%20WriteYourFeedbackBelow" target= "_blank">feedback</a>
    </div>

{% endblock %}