{% extends 'abstract_base.html' %}
{% block container %}
    <div class="alert alert-secondary p-1 m-1">
        <H3 class="text-center">{{ list_type }}</H3>
    </div>
    <table class="table table-striped m-1 ">
      <thead>
        <tr>
           {% for heading in headings %}
          <th scope="col">{{ heading }}</th>
            {% endfor %}
        </tr>
      </thead>
      <tbody>
      {% for item in items %}
        <tr>
        {% if item.text1 %}
           <td>{{ item.text1 }}</td>
        {% endif %}
        {% if item.text2 %}
           <td>{{ item.text2 }}</td>
        {% endif %}
<!--  small screens -->
           <td class="d-md-none "><a href="{{ item.link1 }}" target="_blank" class="nav-link {{ item.status1 }} pl-0">{{ item.btn1 }}</a></td>
           <td class="d-md-none "><a href="{{ item.link2 }}" target="_blank" class="nav-link {{ item.status2 }} pl-0">{{ item.btn2 }}</a></td>
<!-- large screens -->
           <td class="d-none d-md-table-cell"><a href="{{ item.link1 }}" target="_blank" class="nav-link {{ item.status1 }} pl-0">{{item.link1 }}</a></td>
           <td class="d-none d-md-table-cell"><a href="{{ item.link2 }}" target="_blank" class="nav-link {{ item.status2 }} pl-0">{{item.link2 }}</a></td>

        </tr>
      {% endfor %}
      </tbody>
    </table>
{% endblock %}